// override BS5 variables and custom variables mixins

// text variables
$font-size: 15px;
$line-height: 1.35;
$font-family-sans-serif: 'Vollkorn', "Times New Roman";
$fonts_text: 'Vollkorn', "Times New Roman";
$fonts_heading: 'Libre Baskerville', "Times New Roman";
$font_black: #232222;

// theme colors | color pallete
$theme_gray: #6b6b6b;
$theme_dark_red: #740606;
$theme_red: #a70505;
$theme_silver: #bdbdbd;
$theme_white: #e6dee8;

// basic colors
$blue: #1c3fd7;
$red: $theme_red;
$orange: #e39d0d;
$green: #8dab3d;
$black: black;
$gray: $theme_silver;
$darkgray: $theme_gray;
$white: $theme_white;

// bootstrap overwritten variables

$theme-colors: map-merge($theme-colors, (
  'primary': $theme_dark_red,
  'secondary': $theme_silver,
  "light": $theme_white,
  "dark": #212529 // only used for jumbotrons
));

$body-bg: $theme_silver;
$card-cap-color: $white;
$card-cap-bg: $theme_dark_red;
$card-border-color: $theme_dark_red;
$component-active-color: $theme_silver;
$component-active-bg: $theme_dark_red;

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
