@use "sass:color";

.student1 {
  .nav-btn-one {
    @include button_maker($theme_gray, 15rem, white)
  }

  .nav-btn-two {
    @include button_maker($theme_red, 20rem, white)
  }

  .accordion-button:not(.collapsed) {
    color: $theme_white;
  }

  .accordion-button:focus {
    border: 1px solid $theme_silver;
  }
}

.index {
  .figframe {
    @include img_border(14px, solid, $theme_dark_red, $theme_white, 0px)
  }

  .index-nav-btn {
    @include button_maker($theme_white, 48rem, $font_black);
    border: 5px solid $theme_dark_red;
  }
}
